<div class="main-area">
  <div class="done-comment-panel">
    <p class="done-comment-panel__text">
      おめでとうございます！<br>
      また一つwishが叶いましたね。<br>
      あなたの人生がより実りあるものになりますように。
    </p>
  </div>
  <div class="link-top-btn main-btn">
    トップページに戻る
  </div>
</div>
