<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>一覧ページ</title>
</head>
<body>
  <header class="header">
    <div class="header-contents">
      <div class="header-logo">
        <%= image_tag 'logo.png', class: "header-logo__image"%>
      </div>
      <ul class="header-menu">
        <li class="header-menu__item"><a class="header-menu__link">mami</a></li>
        <li class="header-menu__item"><a class="header-menu__link">達成済み</a></li>
      </ul>
    </div>
  </header>
  <div class="new-post-btn">
  wishリストを追加する
  </div>
</body>
</html>