<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>一覧ページ</title>
</head>
<body>
  <header class="header">
    <div class="header__contents">
    <div class="header__logo">
      <%= image_tag 'logo.png', class: "header__logo__image"%>
    </div>
    <ul class="header__menu">
      <li class="header__menu-item"><a class="header__menu-item__link">mami</a></li>
      <li class="header__menu-item"><a class="header__menu-item__link">達成済み</a></li>
    </ul>
    </div>
  </header>
  <div class="new-post-btn">
  wishリストを追加する
  </div>
</body>
</html>