<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d18240d4e8.js" crossorigin="anonymous"></script>
  <title>一覧ページ</title>
</head>
<body>
  <header class="header">
    <div class="header-contents wrapper">
      <div class="header-logo">
        <%= image_tag 'logo.png', class: "header-logo__image"%>
      </div>
      <ul class="header-menu">
        <li class="header-menu__item"><a class="header-menu__link">mami</a></li>
        <li class="header-menu__item"><a class="header-menu__link">達成済み</a></li>
      </ul>
    </div>
  </header>
  <div class="main">
    <div class="main-area">
      <div class="contents-box">
        <div class="contents-box__head">
          <div class="medium-btn canel">キャンセル</div>
          <div class="contents-title">新規wish</div>
          <div class="medium-btn">登録</div>
        </div>

        <form class="contents-box-list">
          <div class="contents-box-list__item flex">
            <label class="item-title">達成したいこと</label>
            <input  placeholder="例)猫と暮らしたい" class="item-field">
          </div>
          <div class="contents-box-list__item flex">
            <label class="item-title">期限</label>
            <input placeholder="例)20XX/XX/XX" class="item-field">
          </div>
          <div class="contents-box-list__item">
            <label class="item-title memo-title">メモ</label>
            <textarea placeholder="500字以内で書いください" class="item-field memo-height"></textarea>
          </div>
          <div class="contents-box-list__item">
            <label class="item-title">スモールステップ①</label>
            <input placeholder="例)ペット可の物件を探す" class="item-field">
          </div>
          <div class="contents-box-list__item">
            <label class="item-title">スモールステップ①</label>
            <input placeholder="例)ペット可の物件を探す" class="item-field">
          </div>
          <div class="contents-box-list__item">
            <label class="item-title">スモールステップ①</label>
            <input placeholder="例)ペット可の物件を探す" class="item-field">
          </div>
        </form>


      </div>
    </div>
  </div>
</body>