<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d18240d4e8.js" crossorigin="anonymous"></script>
  <title>一覧ページ</title>
</head>
<body>
  <header class="header">
    <div class="header-contents wrapper">
      <div class="header-logo">
        <%= image_tag 'logo.png', class: "header-logo__image"%>
      </div>
      <ul class="header-menu">
        <li class="header-menu__item"><a class="header-menu__link">mami</a></li>
        <li class="header-menu__item"><a class="header-menu__link">達成済み</a></li>
      </ul>
    </div>
  </header>
  <div class="main">
    <div class="main-btn-area">
      <a class="main-btn complete">達成</a>
    </div>
    <div class="main-area">
      <div class="contents-box">
        <div class="contents-box__head">
          <div class="medium-btn canel">キャンセル</div>
          <div class="contents-title">詳細</div>
          <div class="medium-btn">登録</div>
        </div>

        <form class="contents-box-list">
          <div class="contents-box-list__item flex">
            <div class="item-title">達成したいこと
            </div>
            <input class="item-firld display" value="猫と暮らしたい">
          </div>
          <div class="contents-box-list__item flex">
            <div class="item-title">期限
            </div>
            <input class="item-firld display" value="20XX/XX/XX">
          </div>
          <div class="contents-box-list__item">
            <div class="list-items">
              <div class="item-title">メモ
              </div>
              <textarea class="item-firld display memo-height">種類はこだわりなし。保護猫を引き取りたい。
              </textarea>
            </div>
          </div>
          <div class="contents-box-list__item">
            <div class="small-step-items">
              <div class="small-step-items__contents">
                <label class="item-title">スモールステップ①
                </label>
                <br>
                <input class="item-firld display" value="ペット可の物件を探す">
              </div>
              <div class="small-btn">達成
              </div>
            </div>
          </div>
           <div class="contents-box-list__item">
            <div class="small-step-items">
              <div class="small-step-items__contents">
                <label class="item-title">スモールステップ①
                </label>
                <br>
                <input class="item-firld display" value="ペット可の物件を探す">
              </div>
              <div class="small-btn">達成
              </div>
            </div>
          </div>
           <div class="contents-box-list__item">
            <div class="small-step-items">
              <div class="small-step-items__contents">
                <label class="item-title">スモールステップ①
                </label>
                <br>
                <input class="item-firld display" value="ペット可の物件を探す">
              </div>
              <div class="small-btn">達成
              </div>
            </div>
          </div>
         
        </form>

      </div>
    </div>
  </div>
</body>