$assort-color: #E8B99F;

$assort-color-dark: #C69F8A;

$accent-color: #E4B4C5;

$accent-color-dark: #C29FAC;

$base-color: #F9F1E1;

$font-color-gray: #B0A1A1;

$font-color-darkgray: #424141;

$font-color-brown: #785F5F;

$font-color-darkbrown: #3E1616;

$nav-color: #a9a9a9;

$border-color: #D9D2D2;

$font-color-medium-gray: #A9A3A3;