// Place all the styles related to the wishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables.scss";


@mixin max-layout{
  max-width: 1250px;
  margin: 0 auto;
}

@mixin flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-space-between{
  @include flex;
  justify-content: space-between;
}

.header{
  background-color: $assort-color;
  padding: 15px 30px;
}

.header-contents{
  @include flex-space-between
  @include max-layout
}

.header-logo{
  @include flex;
}

.header-logo__image{
  width: 300px;
}

.header-menu{
  display: flex;
  list-style: none;
}

.header-menu__item{
  font-size: 1rem;
  margin-left: 20px;
}

.header-menu__link{
  color: $font-color-darkgray;
}

