// Place all the styles related to the wishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html{
  font-family: 'M PLUS 1p', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}



@import "_variables.scss";


@mixin max-layout{
  max-width: 1250px;
  margin: 0 auto;
}

@mixin flex{
  display: flex;
  align-items: center;
}

@mixin flex-wrap{
  @include flex;
  flex-wrap: wrap
}

@mixin flex-space-between{
  @include flex;
  justify-content: space-between;
}

.header{
  background-color: $assort-color;
  padding: 15px 30px;
}

.wrapper{
  @include max-layout
}

.header-contents{
  @include flex-space-between
  padding: 0 20px 0 20px;
}

.header-logo{
  @include flex;
}

.header-logo__image{
  width: 300px;
}

.header-menu{
  display: flex;
  list-style: none;
}

.header-menu__item{
  font-size: 1rem;
  margin-left: 20px;
}

.header-menu__link{
  color: $font-color-brown;
}

.main{
  text-align: center;
}

.main-btn-area{
  padding: 10px 0;
}

.main-btn{
  display: inline-block;
  padding: 10px 15px;
  width: 300px;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  border-radius: 10px;
}

.new-post-btn{
  background-color: $assort-color;
  box-shadow: 0 4px $assort-color-dark;
}

.main-area{
  background-color: $base-color;
  padding: 15px 0px;
  min-height: 100vh;
}

.whishes-bord{
  @include flex-wrap;
  background-color: $base-color;
  justify-content: space-around;
}

.wish-panel{
  width: 30%;
  background-color: #fff;
  margin: 15px 0 15px 0;
  padding: 15px 30px;
}

.wish-panel__icon{
  text-align: right;
  height: 15px;
  color: $font-color-gray;
  position: relative;
}

.nav{
  position: absolute;
    text-align: center;
    top: 20px;
    right: 0px;
    width: 100px;
    -webkit-transition: all .2s ease;
    visibility: hidden;
    opacity: 0;
    background-color: $nav-color;
}

.nav__item{
  padding: 5px;
  border-bottom: 1px solid #fff;
}

.nav__link{
  color: #fff;
}

.wish-panel__icon:hover .nav{
    visibility: visible;
    opacity: 1;

}


.fas{
  font-size: 25px;
}

.wish-panel__item{
  text-align: start;
  margin-bottom: 5px;
  color: $font-color-brown;;
}

.wish-panel__deadline{
  text-align: right;
  color: $font-color-gray;
}

.contents-box{
  background-color: #fff;
  max-width: 1000px;
  border-radius: 25px;
  padding: 35px 70px 35px 70px;
  margin: 0 auto;
}

.contents-box__head{
  @include flex-space-between;

}

.medium-btn{
  border-radius: 10px;
  width: 175px;
  padding: 10px 15px;
  background-color: $assort-color;
  box-shadow: 0 4px $assort-color-dark;
  border: solid 3px $assort-color;
  color: #fff;
  font-size: 20px;
}

.canel{
  border: solid 3px #969292;
  background-color: #fff;
  box-shadow: 0 4px #716E6E;
  color:  #969292;
}

.contents-title{
  display: inline-block;
  color: $font-color-gray;
  font-size: 25px;
}

.contents-box-list{
  text-align: left;
  padding-top: 60px;
}

.flex{
  @include flex;
}

.contents-box-list__item{
  border-bottom: solid 1px $border-color;
  padding: 10px 0;
}

.item-title{
  color: $font-color-brown;
  font-size: 20px;
  margin-right: 20px;
}

.item-firld{
  color: $border-color;
}

.memo-height{
  height: 200px;
}
